<% if logged_in? %>
  <a href="<%= user_url(current_user) %>"><h2><%= current_user.username %></h2></a>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>
    <button>Sign Out</button>

  </form>

<% else %>
  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <table>
      <tr>
        <td>
          <label for="user_username">Username</label>
        </td>
        <td>
          <input type="text" id="user_username" name="user[username]">
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_password">Password</label>
        </td>
        <td>
          <input type="password" name="user[password]" id="user_password">
        </td>
      </tr>
    </table>
    <button>Sign In</button>
  </form>
  <a href="<%= new_user_url %>">Sign Up</a>

<% end %>
